.body-container {
  padding: 48px 40px 60px 30px;
  max-width: 1034px;
  width: 100%;
  max-height: 726px;
  height: 100%;

  &__content {
    min-height: 498px;
    width: 100%;

    &-top {
      min-height: 394px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 31px;

      &-left {
        display: flex;
        flex-direction: column;
        min-width: 511px;
        justify-content: start;

        .select-container {
          margin-bottom: 24px;

          [class*='MuiOutlinedInput-input'] {
            border: 1px solid #E8EDF0 !important;
            border-radius: 2px !important;
            font-family: 'DinTextPro' !important;
            font-size: 16px !important;
            font-weight: 400 !important;
            color: #00011B !important
          }
        }

        .left-content__header {
          color: #000000;
          font-weight: 500;
          font-size: 30px;
          line-height: 36px;
          margin-bottom: 32px;
        }
      }

      &-right {
        display: flex;
        justify-content: end;
        align-items: center;

        .right-content__image {
          position: relative;
          bottom: 16px;
        }
      }
    }

    &-center {
      min-height: 56px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .center-content__block {
        display: flex;
        flex-direction: column;

        &:first-child {
          margin-right: 100px;
        }

        &-heading {
          color: #7E878E;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          margin-bottom: 8px;

          .block-heading__underlined-text {
            cursor: pointer;
            border-bottom: 1px solid #489DCF;
            color: #489DCF;
            margin-left: 3px;
          }
        }

        &-text {
          font-size: 30px;
          line-height: 30px;
          font-weight: 500;
          color: #00111B;

          &-small {
            font-size: 18px;
            margin-right: 5px;
          }

          .gray {
            color: #7C878E;
          }
        }
      }
    }

    &-bottom {
      margin-top: 56px;
      min-width: 100%;
      min-height: 64px;
      display: flex;
      justify-content: space-between;

      .bottom-content__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 215px;
        width: 100%;
        min-height: 64px;
        height: 100%;
        background-color: #1073AF;
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        text-transform: capitalize;
      }

      .bottom-content__field {
        display: flex;
        flex-direction: row;
        max-width: 581px;
        width: 100%;
        max-height: 64px;
        height: 100%;
        border: 1px solid #B4D6EC;
        border-radius: 3px;
        padding: 16px;

        &-image {
          width: 21px;
          height: 21px;
          margin-right: 16px;
        }

        &-text {
          font-size: 14px;
          line-height: 16px;
          font-weight: 400;
          color: #7C878E;
        }
      }
    }
  }
}

.small-heading {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #7C878E;
  font-style: normal;
}

[class*='MuiOutlinedInput-notchedOutline'] {
  border: 1px solid #CCE1EA !important;
}

[class*='MuiInputLabel-root'] {
  color: #7C878E !important;
  font-size: 14px !important;
  font-family: 'DinTextPro' !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

[class*='MuiTypography-root'], [class*='MuiInput-root'] {
  color: #00011B !important;
  font-family: 'DinTextPro' !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 16px !important;
}
